<h1 class="text-center mt-4">Articles in <%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
	<div class="text-center mt-3">
		<%= link_to 'Edit Category',edit_category_path(@category) ,class: "btn btn-outline-secondary"%>
	</div>
<% end %>


<div class="apple_pagination">
	 <%= will_paginate @articles, :container => false %>
 </div>

<%= render 'articles/article' %>

<div class="apple_pagination">
	 <%= will_paginate @articles, :container => false %>
 </div>
